$background: rgb(250, 248, 218);
$secondary:rgb(131, 159, 236);

html, body{
  background-color: rgb(197, 197, 197);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #C5c5c5;
  opacity: 1;
  background-size: 36px 63px;
  background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;
  background-image:  linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477);
}

.homepage{
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-flow: column;

  h1{
    color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px $secondary;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
  }
}

a, a:visited{
  text-decoration: none;
}

.preview, .createPost{
  border: solid;
  background-color: rgb(250, 248, 218);
  border-radius: 8px;
  color: rgb(95, 95, 95);
  // border: 2px solid black;
  padding: 10px 30px 20px 30px;
  margin: 20px 20px;
  // min-width: 230px;
  width: 90vw;
  max-width: 1300px;
  box-shadow: 3px 4px rgb(109, 109, 109);
  text-align: center;
  max-height: 400px;

  h2>span{
    color:rgb(0, 0, 0);
    // text-shadow: 2px 2px rgb(255, 207, 151);
    // font-weight: bold;
  }

  .content{
    overflow: hidden;
    // border: solid red;
    max-height: 200px;
  }

}

.unpublishedPost{background-color: rgb(245, 193, 184);}

.createPost{
  background-color: rgb(233, 229, 177);
  cursor: pointer;
  transition: transform 0.4s;
  width: 30vw;

  @media only screen and (max-width:480px) {
    width: 90vw;
  }

  @media only screen and (max-width:900px) {
    width: 70vw;
  }

  .createBtn{
    border: none;
    cursor: pointer;
    // padding: 10px 30px;
    // border-radius: 15px;
    background-color: transparent;
    color: $secondary;
    font-size: 45px;
    font-weight: bold;
  }
}

.createPost:hover{
  transform: scale(1.02);
}

.actions{

  button{
    cursor: pointer;
    border: none;
    border: 2px solid rgb(80, 79, 79);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    min-width: 100px;
  }

  .unpublish{background-color: rgb(247, 187, 76);}
  .publish{background-color: $secondary;}
  .delete{background-color: rgb(206, 103, 103);}
  .edit{background-color: rgb(112, 182, 112);}
}


header{
  background-color: rgb(131, 159, 236);
  box-shadow: 0px 3px rgba(128, 128, 128, 0.384);
  // border-bottom: solid 3px rgb(106, 129, 190);
  // border-bottom: solid 2px black;
  height: 60px;
  // margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @media only screen and (max-width: 481px) {
    padding: 0 0px 0 10px;
  }
  .logo{
    font-size: 24px;
  }

  >a{
    font-size: 24px;
    text-align: center;
  }
  
  a:visited, a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav{
    display: flex;
    align-items: center;
    padding-left: 10px;

    a, p{
      text-align: center;
      margin-right: 15px;
      font-size: 18px;
      color: white;
      @media only screen and (max-width: 481px) {
        font-size: 12px;
      }
      span{
        font-weight: bold;
      }
    }

    button{
      cursor: pointer;
      font-size: 18px;
      background-color: rgb(113, 145, 233);
      border: none;
      color: white;
      padding: 10px;
      border-radius: 15px;
      border: 2px solid rgb(190, 190, 190);
      margin-right: 5px;
      @media only screen and (max-width: 481px) {
        font-size: 12px;
      }
    }

  }
}

.userFormContainer{
  // border: solid red;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userForm{
  border: solid;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  margin: 0 20px;
  // color: rgb(95, 95, 95);
  
  h3{
    text-align: center;
    font-size: 30px;
  }
  form{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 20px;

    label{
      display: flex;
      flex-flow: column;
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
    }

    input{
      width: 200px;
      height: 40px;
      margin-top: 5px;
    }

    button{
      background-color: $secondary;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
    }

    .signupSubmit{
      background-color: rgb(25, 151, 25);
    }

  }
}

.postForm{
  // border: solid;
  height: calc(100vh - 60px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  form{
    background-color: $background;
    width: 90vw;
    padding: 20px;
    border: solid rgb(116, 116, 116);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 4px rgb(109, 109, 109);
    color: rgb(95, 95, 95);
    font-weight: bold;

    textarea{
      margin-top: 20px;
      width: 80vw;
      height: 25vh;
      padding: 10px;
      font-size: 16px;
    }
    .formTitle{
      margin-top: 10px;
      // height: 50px;
      width: 40vw;
      font-size: 30px;
      text-align: center;
      @media only screen and (max-width:480px) {font-size: 20px;}
    }
    label{
      font-size: 24px;
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: 20px;
      @media only screen and (max-width:480px) {font-size: 18px;}
    }

    button{
      cursor: pointer;
      color: white;
      font-weight: bold;
      background-color: $secondary;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      border: none;
      @media only screen and (max-width:480px) {font-size: 14px;}
    }

  }
  h2{
    color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px $secondary;
    font-size: 50px;
    // margin-top: 50px;
    text-align: center;
    @media only screen and (max-width:480px) {font-size: 30px;}
    
  }
}