.preview{
  border: solid;
  margin-bottom: 20px;
  
}

header{
  background-color: rgb(131, 159, 236);
  box-shadow: 0px 3px rgba(128, 128, 128, 0.384);
  // border-bottom: solid 3px rgb(106, 129, 190);
  // border-bottom: solid 2px black;
  height: 60px;
  // margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
  .logo{
    font-size: 24px;
  }

  >a{
    font-size: 24px;
  }
  
  a:visited, a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav{
    display: flex;
    align-items: center;

    a{
      margin-right: 10px;
      font-size: 18px;
      color: white;
      @media only screen and (max-width: 481px) {
        font-size: 12px;
      }

      // font-weight: bold;
    }

  }
}